header
{
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 7%;
	box-shadow: 0px 2px 10px black;

}
	.logo
{
	font-size: 75px;
	margin-bottom: 5px;
}
h1
{
	color: darkgreen;
	text-decoration:underline;
	text-decoration-style: dotted;
	font-weight: bold;
	font-style: italic;
}
p 
{
	font-size: 20px;
}
.decoration
{
	font-size: 20px;
	margin: 12px 0 25px;
	line-height: 1;
}
.search-box
{
	border-radius: 40px;
	width: 70%;
    max-width: 900px;
   height: 68px;
    background: white;
    display: flex;
    border: 2px solid grayish-beige;
    border-radius: 40px;
    align-items: center;
    padding-left: 25px;
    box-shadow: 0 5px 20px black;
    margin: auto;
}
 input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 10px 15px;
    font-family: 'Poppins', sans-serif;
}
 button{
    height: 60px;
    padding: 0 40px;
    border: none;
    border-radius: 35px;
    background: #08783f;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.search-box button:hover {
    background: #055c30;
    transform: scale(1.03);
}

footer {
    text-align: center;
    padding: 25px;
   font-family: serif;
   font-size: 20px;
    color: #174f37;
}

